Thumbs.db
.DS_Store

/wp-config.php
/.htaccess
/.htpasswd
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-admin/*
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/seeding_theme
!/wp-content/themes/daily_up_theme
/wp-includes/*
