/*--------------
common
-------------*/

html {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans JP","Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  position: relative;
  background: #fff;
}

header .hdr_top {
  position: relative;
  background: #696969;
}

header .logo {
  max-width: 150px;
}

header .logo img{
  width: 100%;
}

header .logo a {
  border: none;
  transition: .2s;
}

header .logo a:hover {
  border: none;
  opacity: .7;
}

footer {
  background: #fff;
  margin-top: 3%;
}

footer .footer_nav {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content: center;
}

footer .footer_nav li:first-child {
  margin-right: 8px;
}

footer .footer_nav li:last-child {
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  main {
    min-height: 500px;
  }
}

figure {
  text-align: center;
  margin: 0;
}

h1 {
  margin: 0;
  padding: .5em 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 15px;
}

.single .main_column .row.single li,
.privacy-policy .main_column li {
  list-style: initial;
  margin-bottom: 15px;
  margin-left: 20px;
}

ol.toc ol {
  margin-top: 10px;
}

.single .main_column .row.single ol.toc li {
  list-style: none;
  margin-left: 10px;
}

p a:hover,li a,div.next_prev_btns a {
  border-bottom: 1px solid transparent;
}

p a:hover,li a:hover,div.next_prev_btns a:hover {
  border-bottom: 1px solid #000;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

section {
  margin-bottom: 5%;
}

section:last-child {
  margin-bottom: 0;
}

.row {
  overflow: hidden;
  margin-bottom: 5%;
}
.row:last-child {
  margin-bottom: 0;
}

.row .col {
  float: left;
  margin-left: 2%;
}

.row .col:first-child {
  margin-left: 0;
}

.col.span_6 {
  width: 49%;
}

.col.span_4 {
  width: 32%;
}

.col.span_3 {
  width: 23.5%;
}

.col.span_8 {
  width: 66%;
}

.col.span_12 {
  width: 100%;
  float: none;
}

a {
  text-decoration: none;
  color: #000;
  transition: .2s;
  border-bottom: 1px solid transparent;
}

.row.single a {
  border-bottom: 1px solid #000;
}

.row.single a:hover {
  border-bottom: 1px solid transparent;
}

.row.single > p:first-child a,.row.single .next_prev_btns a {
  border-bottom: 1px solid transparent;
}

.row.single > p:first-child a:hover,.row.single .next_prev_btns a:hover {
  border-bottom: 1px solid #000;
}

a:hover img {
  opacity: .7;
  transition: .2s;
}

.pc-only {
  display: none;
}

.sp-only {
  display: none;
}

.mb0 {
  margin-bottom: 0;
}

.m0 {
  margin: 0 !important;
}

header h1 {
  position: absolute;
}

body:not(.home) h1 {
  text-align: center;
  font-size: 35px;
}

body:not(.home) h1 span {
  display: block;
  font-size: 20px;
  font-weight: normal;
  color: #808080;
}

h2{
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

body.home h2 {
  text-align: left;
}

h2 span{
  font-size: 18px;
  display: block;
  color: #808080;
}

h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: .7em;
}

footer {
  padding: 2% 0;
}

#search {
  background: #fff;
}

#search input[type=text] {
  float: left;
  width: 70%;
  padding: 5px;
  outline: none;
  border: none;
}

@media screen and (max-width: 767px) {
  header #search input[type=text] {
    width: 68%;
  }

  header .searchform {
    max-width: 160px;
  }
}

#search input[type=submit] {
  float: right;
  width: 20%;
  text-indent:200%;
white-space:nowrap;
overflow:hidden;
background: transparent;
border: none;
background: url(/wp-content/uploads/2020/08/search.png) no-repeat center;
background-size: contain;
outline: none;
cursor: pointer;
padding: 2% 0;
}

@media screen and (max-width: 767px) {
  #search input[type=text] {
    width: 80%;
    font-size: 16px;
  }
  #search input[type=submit] {
    width: 15%;
}
.date_select select {
  font-size: 16px;
}
}

.search_wrap {
  overflow: hidden;
  border: 1px solid #000;
  padding: 5px;
}

.main_column,
.side_column {
  background: #fff;
  padding: 2% 0;
}

 header {
  margin-bottom: 3%;
}

.side_column p.side_title {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.bg_gray {
  background: #D3D3D3;
  padding: 3%;
}

.bg_white {
  background: #fff;
  padding: 3%;
}

@media screen and (min-width: 768px) {
  .pc-only {
    display: block !important;
  }
  main > .container {
    display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
  }
  .main_column {
    width: 75%;
    padding: 2% 0;
  }
  .side_column {
    width: 23%;
    margin-left: 2%;
  }

  main > .container {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .sp-only {
    display: block !important;
  }
  .container {
    padding: 0 10px;
  }
  body:not(.home) h1 {
    font-size: 25px;
  }
  h2{
    font-size: 25px;
  }
  h2 span{
    font-size: 18px;
  }
  h3 {
    font-size: 20px;
  }
  section {
    margin-bottom: 10%;
  }
  body:not(.home) h1 {
    font-size: 25px;
  }
  body:not(.home) h1 span {
    font-size: 16px;
  }
  .side_column {
    margin-top: 5%;
  }
  .side_column p.side_title {
    font-size: 25px;
  }
}

/*--------------
main&navigation
-------------*/

header .logo {
  padding: .5em 0;
}

header .hdr_nav ul li {
  width: 18.4%;
  margin-left: 2%;
}

header .hdr_nav ul li:first-child {
  margin-left: 0;
}

header .hdr_nav ul li a {
  display: block;
  background: #696969;
  padding: .5em;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: .2s;
}

header .hdr_nav ul li a:hover {
  border: none;
  background: #838383;
}

header .container {
  position: relative;
}

header .container .hdr_info {
  position: absolute;
  right: 2%;
  top: 50px;
}

header .container .hdr_info #search,
header .container .hdr_info .btn {
  display: inline-block;
}

header .container .hdr_info .btn {
  margin-left: 5px;
}

header .container .hdr_info .btn a {
  position: relative;
  background: #555555;
  padding: 12px;
  padding-left: 30px;
  display: block;
  color: #fff;
  border: none !important;
  border-radius: 10px;
}

header .container .hdr_info .btn a:hover {
  background: #6f6f6f;
}
header .container .hdr_info .btn a:before {
  content: "";
  background: url(/wp-content/uploads/2020/07/mail_logo.png) no-repeat center/cover;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  right: auto;
  margin: auto;
}
header .container .hdr_info .btn a:hover {
  border: none !important;
}

@media screen and (max-width: 767px) {
  header .container .hdr_info {
    top: 30px;
}
  header .container .hdr_info #search,
  header .container .hdr_info .btn {
    display: block;
  }
  header .container .hdr_info .btn a {
    max-width: 150px;
    padding: 8px 12px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
  }
  header .container .hdr_info .btn a {
    padding-left: 25px;
  }
}

.main_visual {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.main_visual .main_visual_copy {
  max-width: 300px;
  max-height: 308px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.main_visual .main_visual_copy img {
  width: 100%;
}

.main_visual .main_visual_list img{
  width: 100%;
}

body:not(.home) .main_visual {
  height: 200px;
}

body:not(.home) .main_visual_copy img{
  max-width: 180px;
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

ul.global_nav {
  padding: .7em 0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content: space-around;
}

ul.global_navli{
  text-align: center;
}

ul.global_nav ul li a{
  font-size: 18px;
}

header .sp_menu_icon {
  display: none;
}

@media screen and (max-width: 500px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
  }
  main {
    margin-top: 140px;
  }
  header .logo {
    max-width: 100px;
    padding: .3em 0;
  }
  header .hdr_top {
    z-index: 2;
  }
  header .hdr_nav {
    width: 50%;
    position: fixed;
    right: 0;
    z-index: 1;
    transform: translatey(-250px);
    transition: .2s;
  }
  header .hdr_nav.open {
    transform: translatey(0);
    transition: .2s;
  }
  header .hdr_nav .container {
    padding: 0;
  }
  ul.global_nav {
    flex-direction: column;
    background: #696969;
    padding: 2%;
  }
  header .hdr_nav ul li {
    width: 100%;
    margin: 0;
    margin-bottom: 2%;
  }
  header .hdr_nav ul li a {
    background: transparent;
    border-radius: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
  }
  header .hdr_nav ul li a:hover {
    border: 1px solid #fff;
    background: transparent;
  }
  header .sp_menu_icon {
    position: absolute;
    right: 6%;
    top: 31px;
    width: 30px;
    height: 21px;
    display: block;
  }
  header .sp_menu_icon span {
    position: absolute;
    transform: translateY(-10px);
    width: 100%;
    height: 3px;
    display: block;
    background: #fff;
    margin: auto;
    transition: .2s;
  }
  header .sp_menu_icon span:nth-child(2) {
    transform: translateY(0px);
  }
  header .sp_menu_icon span:last-child {
    transform: translateY(10px);
  }
  header .sp_menu_icon.close span {
    transform: rotate(-45deg);
  }
  header .sp_menu_icon.close span:nth-child(2) {
    opacity: 0;
    transform: rotate(0);
  }
  header .sp_menu_icon.close span:last-child {
    transform: rotate(45deg);
  }
}

.search_link {
  cursor: pointer;
}

header .search_menu {
  position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background: #fff;
    z-index: 3;
    padding: 5%;
    transform: translateX(1000px);
    transition: .2s;
    overflow-y: scroll;
}

header .search_menu.open {
  transform: translateX(0);
}

.curtain {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba( 0,0,0 , 0.5 );
  transition: .2s;
  z-index: 2;
}

.curtain.open {
  display: block;
}

.category_list h2,
.tag_list h2 {
  text-align: left;
}

.hdr_sns {
  background: #fff;
  padding: 5px;
  display: none;
}

body.single .hdr_sns a:last-child {
  margin-left: 5px;
}

body.single .hdr_sns .other_sns {
  display: none;
}

body:not(.single) .hdr_sns .other_sns {
  display: block;
}

body:not(.single) .hdr_sns .single_sns {
  display: none;
}

body.single .hdr_sns .single_sns {
  display: block;
}

@media screen and (max-width: 500px) {
  .hdr_sns {
    position: relative;
    display: block;
    z-index: 0;
  }
}

/*--------------
post_item
-------------*/
.item_list {
  margin-bottom: 2%;
}

.item_list article.article_item.col {
  margin: 0 2% 2% 0;
  position: relative;
}

@media screen and (min-width: 501px) {
  body.home .item_list article.article_item.col:nth-child(3n) {
    margin-right: 0;
  }

  body:not(.home) .item_list article.article_item.col:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  body.home .item_list article.article_item.col {
    min-height: 110px;
  }
}

.item_list article.article_item figure img {
  width: 100%;
  height: 100%;
}

.item_list .article_item a {
  border: none;
}

.item_list article.article_item li {
  margin-bottom: 0;
}

.item_list h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

time {
  display: block;
  text-align: left;
  color: #808080;
  margin-bottom: 15px;
}

main .row.single figure img {
  width: 100%;
  height: auto;
}

.next_prev_btns {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content: space-around;
}

.item_list .article_item figure {
  position: relative;
}

@media screen and (min-width: 501px) {
  body.home .main_column .item_list .article_item figure {
    position: relative;
    max-width: 100%;
    height: 125px;
    overflow: hidden;
  }
  body.home .main_column .item_list .article_item figure img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    object-fit: cover;
  }
}

.item_list .article_item figcaption {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 180px;
  max-height: 50px;
  background: #000;
  padding: 3%;
}

.item_list .article_item figure figcaption a {
  color: #fff;
}

body:not(.home) .main_column .item_list article.article_item.col {
  background: #fff;
  padding: 2%;
  box-sizing: border-box;
}

body:not(.home) .main_column .item_list article.article_item.col a {
  display: block;
  width: 100%;
}

body:not(.home) .main_column .item_list article.article_item.col a:hover + figure img {
  opacity: .7;
  transition: .2s;
}

@media screen and (min-width: 501px) {
  body:not(.home) .main_column .item_list article.article_item.col {
    display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
    margin-right: 0;
  }
  body:not(.home) .main_column .item_list article.article_item.col > figure {
    width: 35%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  body:not(.home) .main_column .item_list article.article_item.col > figure img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  body:not(.home) .main_column .item_list article.article_item.col > div {
    width: 63%;
    margin-left: 2%;
  }
}

@media screen and (max-width: 767px) {
  .next_prev_btns a {
    font-size: 12px;
  }
  .item_list h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .item_list article.article_item.col {
    width: 100%;
    margin-bottom: 5%;
    display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
    margin-right: 0;
    height: auto !important;
  }
  .item_list article.article_item.col:nth-child(2n) {
    margin-right: 0 !important;
  }
  .item_list h2 {
    font-size: 18px;
  }
  .item_list .article_item > * {
    width: 49%;
    margin-left: 2%;
  }
  .item_list .article_item > figure {
    margin-left: 0;
    position: relative;
    overflow: hidden;
  }
  .item_list .article_item > figure img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
  }
  .item_list .article_item.col.ranking_list {
    padding-bottom: 2% !important;
  }
}

.main_column .row.single {
  background: #fff;
  padding: 2%;
  border-radius: 10px;
}

.pagenation {
  text-align: center;
  margin-bottom: 5%;
}

.pagenation,.pagenation a {
  color: #696969;
}

.pagenation a {
  border: none;
}

.pagenation a:hover {
  border:none;
}

.pagenation ul {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content: center;
}

.pagenation ul li {
  margin-left: 10px;
  margin-bottom: 0;
}

.pagenation ul li > * {
  display: inline-block;
    background: transparent;
    padding: 7px 3px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    color: #696969;
}

.pagenation ul li:first-child {
  margin-left: 0;
}

.pagenation span.page-numbers {
  background: #3CB371;
  padding: 7px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  color: #fff;
}

.pagenation.fixed_page > * {
  display: inline-block;
background: transparent;
padding: 7px 3px;
width: 18px;
height: 18px;
border-radius: 100%;
color: #696969;
margin-left: 10px;
}

.single_container .bg_gray {
  border-radius: 10px;
}

body:not(.home) .single_container h1 {
  text-align: left;
}

body:not(.home) .single_container .tag_list p {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  flex-wrap: wrap;
}

body:not(.home) .single_container .tag_list p a{
margin-bottom: 15px;
background: #f4a352;
border-radius: 3px;
text-decoration: none;
font-size: 12px;
margin: 2px;
transition: all .3s ease-in-out;
padding: 3px 8px;
border: none;
transition: .2s;
}

body:not(.home) .single_container .tag_list p a:hover {
  opacity: .7;
}

.single .single_container .main_column h2,
.privacy-policy .main_column h2 {
  text-align: left;
  border-bottom: 1px dashed #696969;
}

.single .single_container .main_column h3,
.privacy-policy .main_column h3 {
  position: relative;
  padding-left: 20px;
}

.single .single_container .main_column h3:before,
.privacy-policy .main_column h3:before {
  content: "";
  background: #000;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .single .single_container .main_column h3:before,
  .privacy-policy .main_column h3:before {
    top: auto;
    bottom: 7px;
  }
}

.single .single_container .main_column h4,
.privacy-policy .main_column h4 {
  position: relative;
  font-size: 20px;
  padding-left: 15px;
  line-height: 1;
  margin: 1em 0;
}

.single .single_container .main_column h4:before,
.privacy-policy .main_column h4:before {
  content: "";
  background: #000;
  position: absolute;
  width: 7px;
  height: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.single .single_container p,
.privacy-policy p {
  margin-bottom: 5%;
  line-height: 2.5;
}

.single .single_container .row.single > ol.toc {
  margin: 0 0 5% 0;
  padding-left: 0;
  padding: 3%;
  border: 1px solid #D3D3D3;
}

.single .single_container .row.single > ol.toc li a {
  border: none !important;
}

.single .single_container .row.single > ol.toc li > ol {
  padding-left: 5px;
}

.single .single_container .row.single > ol.toc li > ol li {
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
  position: relative;
  padding-left: 10px;
  margin-bottom: 2%;
}

.single .single_container .row.single > ol.toc li > ol li a {
  color: #696969;
}

.single .single_container .row.single > ol.toc li > ol li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5px;
  height: 2px;
  background: #696969;
}

@media screen and (max-width: 767px) {
  .single .single_container .toc-title {
    position: relative;
  }
  .single .single_container .toc-title::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 3px;
    margin: auto;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: transform .2s;
  }
  .single .single_container .toc-title.active::after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  .single .single_container .row.single > ol.toc {
    display: none
  }
  .single .single_container .row.single > ol.toc.open {
    display: block;
  }
  .single .single_container h4 {
    font-size: 18px;
  }
}

/*--------------------
side_column
---------------------*/

.side_column > .row {
  background: #D3D3D3;
  padding: 15px;
}

.side_column .row p {
  line-height: normal;
}

.side_column .fix_block .related_article {
  background: #D3D3D3;
  padding: 15px;
}

.side_column > .row.sns {
  background: transparent;
  padding: 0;
}

.side_tag_list {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  flex-wrap: wrap;
}

.side_tag_list li {
  list-style: none;
  margin-bottom: 15px;
  background: #f4a352;
  border-radius: 3px;
  text-decoration: none;
  font-size: 12px;
  margin: 2px;
  flex: 1 1 auto;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content: space-between;
  transition: .2s;
}

.side_tag_list li:hover {
  opacity: .7;
}

.side_tag_list li a {
  display: block;
  width: 100%;
  padding: 3px 8px;
  border: none;
}

.side_tag_list li a:hover {
  border: none;
}

.date_select {
  position: relative;
}

.date_select:after {
  content: "";
  position: absolute;
  top: 0;
  left: auto;
  right: 15px;
  bottom: 0;
  margin: auto;
  width: 7px;
  height: 7px;
  border: 2px solid;
  border-color:  transparent transparent #000 #000;
  transform: rotate(-45deg);
}

.date_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 3%;
  outline: none;
  border: none;
  border-radius: 0;
  background: #fff;
  border: 1px solid #000;
}

@media screen and (min-width: 768px) {
  .side_column .item_list .col {
    width: 100%;
    margin-bottom: 5% !important;
  }
}

.sns figure a {
  border: none;
}

.sns figure a:hover {
  border: none !important;
  opacity: .7;
}

.side_profile figure img{
  border-radius: 100%;
  width: 100%;
}

.side_profile .name{
  font-weight: bold;
}

.side_profile figure a {
  border: none;
}

.side_profile figure a:hover {
  border: none;
  opacity: .7;
}

body.single .fix_block .single_sns {
  opacity: 0;
  transform: translateY(-200px);
  transition: .2s;
  z-index: -10;
  margin: 2% 0;
}

@media screen and (min-width: 1000px) {
  body.single .fix_block.fixed_side .single_sns {
    transform: translateY(0);
    opacity: 1;
    transition: .2s;
    z-index: 0;
  }
  .fixed_side.fix_block {
    position: fixed;
    top: 0;
    width: 230px;
  }
  body.single .fix_block .related_article {
    margin-top: -49px;
    transition: .2s;
  }
  body.single .fix_block.fixed_side .related_article {
    margin-top: 0;
    transition: .2s;
  }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  body.single .fix_block.fixed_side .single_sns {
    transform: translateY(0);
    opacity: 1;
    transition: .2s;
    z-index: 0;
  }
  .fixed_side.fix_block {
    position: fixed;
    top: 0;
    width: 20%;
  }
  body.single .fix_block .related_article {
    margin-top: -49px;
    transition: .2s;
  }
  body.single .fix_block.fixed_side .related_article {
    margin-top: 0;
    transition: .2s;
  }
}

@media screen and (max-width: 767px) {
  body.single .fix_block .single_sns {
    display: none !important;
  }
  body.single .fix_block .related_article  {
    margin-top: 0 !important;
  }
}

.facebook img,
.twitter img {
  max-width: 45px;
  max-height: 45px;
  width: 100%;
}

.related_article {
  display: none;
}

body.single .related_article {
  display: block;
}

.single_sns {
  display: none;
}

.no_single_sns {
  display: block;
}

body.single .single_sns {
  display: block;
}

body.single .no_single_sns {
  display: none;
}

/*-----------------------
pages
----------------------*/

.contact {
  max-width: 500px;
  margin: 0 auto;
}

.contact input[type=text],
.contact input[type=email],
.contact textarea {
  width: 100%;
  border: 1px solid #000;
  border-radius: 0;
  outline: none;
  padding: .5em .2em;
  resize: none;
  box-sizing: border-box;
}

.contact input[type=submit] {
  width: 50%;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  background: #ddd;
  border: none;
  padding: .5em 0;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}

.contact input[type=submit]:hover {
  background: #555555;
  color: #fff;
}

  .about .picture {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 100%;
    border: 2px solid #000;
  }
.about .picture {
  position: relative;
}

.about .picture figure img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.about .profile_name {
  font-size: 28px;
  font-weight: bold;
}

.profile dl {
  overflow: hidden;
}

.profile {
  max-width: 500px;
  margin: 0 auto;
}

.profile dl dt,
.profile dl dd {
  float: left;
  font-size: 18px;
}

.profile dl dt {
  width: 15%;
  margin-bottom: 20px;
}

.profile dl dd {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 2%;
}

@media screen and (max-width: 767px) {
  .about .profile_name {
    font-size: 20px;
  }
  .profile dl dt,
  .profile dl dd {
    font-size: 16px;
  }
}

#resp {
  font-size: 18px;
}

.comment-listCon {
  padding: 2%;
  background: #fff;
}

.comment-edit-link {
  display: none;
}

.comment-form label {
  display: block;
}

.comment-form input[name=author] {
  border: 1px solid #000;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
}

.comment-form textarea {
  width: 100%;
  border: 1px solid #000;
  padding: 5px;
  resize: none;
  box-sizing: border-box;
  outline: none;
}

.comment-form input[type=submit] {
  width: 50%;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  background: #fff;
  border: none;
  padding: .5em 0;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}

.comment-form input[type=submit]:hover {
  background: #555555;
  color: #fff;
}

.commets-list {
  margin-bottom: 5%;
}

.more a {
  display: block;
  position: relative;
  text-align: center;
  max-width: 150px;
  border-radius: 5px;
  color: #fff;
  border-bottom: 0;
  transition: .2s;
  background: #3CB371;
  margin: 0 auto;
  padding: .3em 0;
}

.more a:hover {
  border-bottom: 0;
  background: #56cd8b;
}

.more:hover a:after {
  border-color: transparent transparent transparent #000;
}

.ranking .article_item {
  position: relative;
}

body:not(.paged) .ranking .article_item:first-child:before,
body:not(.paged) .ranking .article_item:nth-child(2):before,
body:not(.paged) .ranking .article_item:nth-child(3):before{
  position: absolute;
  color: #fff;
  text-align: center;
  top: 2px;
  left: 2px;
  margin: auto;
  border-radius: 100%;
  z-index: 1;
  vertical-align: middle;
  padding: 9px 15px;
  font-size: 18px;
  font-weight: bold;
}

body:not(.paged) .ranking .article_item:first-child:before {
  content: "1";
  background: #e6b422;
}

body:not(.paged) .ranking .article_item:nth-child(2):before {
  content: "2";
  background: #c9caca;
}

body:not(.paged) .ranking .article_item:nth-child(3):before {
  content: "3";
  background: #C9AE5D;
}

@media screen and (max-width: 767px) {
  .ranking .article_item:first-child:before,
  .ranking .article_item:nth-child(2):before,
  .ranking .article_item:nth-child(3):before {
    font-size: 22px;
    padding: 12px 20px;
  }
}

#sitemap_list > li.home-item,
#sitemap_list > li.cat-item,
#sitemap_list > li.page_item {
  font-size: 22px;
  margin-bottom: 5%;
}

#sitemap_list > li.cat-item ul {
  margin-top: 3%;
}

#sitemap_list > li.cat-item ul li.post-item {
  font-size: 18px;
  margin-bottom: 2%;
}

@media screen and (max-width: 767px) {
  #sitemap_list > li.home-item,
  #sitemap_list > li.cat-item,
  #sitemap_list > li.page_item {
    font-size: 18px;
  }
  #sitemap_list > li.cat-item ul li.post-item {
    font-size: 16px;
  }
}

#sitemap_list li li {
  background: none !important;
  position: relative;
}

#sitemap_list li li:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*----------------
TOP
----------------*/

body.home .main_column section .list_wrap {
  background: #D3D3D3;
  padding: 3%;
}

body.home .main_column section .list_wrap.top_category_list {
  padding-top: 60px;
  position: relative;
}

body.home .main_column section .list_wrap.top_category_list:after {
  content: "";
  width: 50%;
border-top: 30px solid #fff;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
height: 0;
text-align: center;
line-height: 30px;
font-weight: bold;
margin: 0 auto;
color: #666;
position: absolute;
top: 0;
left: 0;
right: 0;
margin: auto;
}

body.home .item_list article.article_item.col {
  background: #fff;
  padding: 2%;
  box-sizing: border-box;
  max-height: 330px;
}

body .side_column .item_list article.article_item.col {
  background: #fff;
  padding: 5%;
  box-sizing: border-box;
  max-height: 290px;
}

@media screen and (max-width: 767px) {
  body .side_column .item_list article.article_item.col {
    padding: 2%;
  }
}

body.home .item_list article.article_item.col.ranking_list {
  padding-bottom: 8%;
  max-height: 380px;
}

.item_list article.article_item.col > a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  z-index: 1;
}

.item_list article.article_item.col > a:hover + figure img {
  opacity: .7;
  transition: .2s;
}

body.home .item_list article.article_item.col .read {
      width: 100%;
      text-align: center;
      border: 1px solid #000;
      border-radius: 5px;
}

@media screen and (min-width: 768px) {
  body.home .item_list article.article_item.col .read {
    position: absolute;
        max-width: 173px;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 6%;
  }
}

figure table {
  border-spacing: 0;
  border: 1px solid #696969;
}

figure table tbody tr td {
  border-left: 1px solid #696969 !important;
  border-bottom: 1px solid #696969 !important;
  padding: .5em;
}

figure table tbody tr td:first-child{
  border-left: 0 !important;
}

figure table tbody tr:last-child td {
  border-bottom: 0 !important;
}

figure.is-style-regular table tbody tr td:first-child{
  background: #D3D3D3;
}

figure.is-style-stripes table tbody tr:first-child td{
  background: #D3D3D3;
}

figure.is-style-stripes table tbody tr:not(:first-child) {
  background: transparent !important;
}

.row.single .wp-block-image,
.row.single .wp-block-group,
.row.single .wp-block-table {
  margin-bottom: 5%;
}

.row.single .wp-block-image:last-child,
.row.single .wp-block-group:last-child,
.row.single .wp-block-table:last-child {
  margin-bottom: 0;
}

.wp-block-quote {
  position: relative;
  margin: 0;
  margin-bottom: 5%;
  padding: 1em;
  background: #D3D3D3;
  word-break: break-all;
  padding: 0;
  padding: 2%;
}

.wp-block-quote p {
  position: relative;
  padding: 5% 0;
  padding-bottom: 8%;
  margin: 0 !important;
}

.wp-block-quote p::after {
  content: '“';
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  line-height: normal;
  color: #696969;
}

.wp-block-quote p::before {
  content: '”';
  font-size: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height: normal;
  color: #696969;
}

@media screen and (max-width: 767px) {
  .wp-block-quote {
    padding: 5% 2%;
  }
  .wp-block-quote p {
    padding: 8% 0;
    padding-bottom: 12%;
  }
  .wp-block-quote:after {
    height: 98%;
  }
}

.wp-block-quote p {
  margin-top: 5px;
}

.wp-block-quote cite {
  display: block;
  text-align: right;
  color: #696969;
}

.require {
  color: #e50000 !important;
}

.pagetop {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.pagetop a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: #D3D3D3;
  border-radius: 8px;
}

.pagetop a:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
  .pagetop {
    right: 8%;
    opacity: .8;
  }
}

iframe {
  margin-bottom: 5%;
}

.movie {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;
}

.movie iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.item_list .adsbygoogle {
  margin-bottom: 2%;
}

@media screen and (max-width: 767px) {
  .item_list .adsbygoogle {
    margin-bottom: 5%;
  }
}

.text-xlarge {
  font-size: 28px;
}

.text-large {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .text-xlarge {
    font-size: 22px;
  }
  .text-large {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .side_column .item_list h2 {
    font-size: 18px;
  }
}
